<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://repository.bim-ace.com/repository/nuget-proxy/index.json" />
        <add key="nuget.new.test" value="https://repository.bim-ace.com/repository/nuget-hosted/index.json" />
       <add key="nuget-official" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <nuget.org>
            <add key="Username" value="nugetpull" />
            <add key="ClearTextPassword" value="sgSMsci7E2hB" />
        </nuget.org>
        <nuget.new.test>
            <add key="Username" value="nugetpull" />
            <add key="ClearTextPassword" value="sgSMsci7E2hB" />
        </nuget.new.test>
    </packageSourceCredentials>
    
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="Microsoft.*" />
            <package pattern="System.*" />
            <package pattern="OpenTelemetry.*" />
            <package pattern="Aspire.*" />
        </packageSource>

        <packageSource key="nuget-official">
            <package pattern="Serilog.*" />
            <package pattern="TinyPinyin*" />
            <package pattern="Volo.Abp.*" />
            <package pattern="CmdScale.*" />
            <package pattern="Npgsql*" />
            <package pattern="JT808.*" />
            <package pattern="TouchSocket.*" />
            <package pattern="*" />
        </packageSource>

        <packageSource key="nuget.new.test">
            <package pattern="Shiw.*" />
        </packageSource>
    </packageSourceMapping>
    
</configuration>